<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File fileName="log.log" name="file">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{10} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
        <Loggers>
            <Logger name="package by.epam.task;" additivity="true" level="WARN">
                <AppenderRef level="INFO" ref="file2"/>
            </Logger>
        <Root level="WARN">
            <AppenderRef level="WARN" ref="file"/>
        </Root>
        </Loggers>
</Configuration>